* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: nunito;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 16px;
}
